### For reference, see `/opt/open5gs/etc/orig/open5gs/`
sbi:
    server:
      no_tls: true
    client:
      no_tls: true

amf:
  sbi:
    - dev: eth0
      advertise: amf
  ngap:
  metrics:
    - addr: 0.0.0.0
      port: 9090
  guami:
    - plmn_id:
        mcc: 999
        mnc: 70
      amf_id:
        region: 2
        set: 1
  tai:
    - plmn_id:
        mcc: 999
        mnc: 70
      tac: 1
  plmn_support:
    - plmn_id:
        mcc: 999
        mnc: 70
      s_nssai:
        - sst: 1
          # sd: 1
  security:
    integrity_order : [ NIA2, NIA1, NIA0 ]
    ciphering_order : [ NEA0, NEA1, NEA2 ]
  network_name:
    full: Openverso
  amf_name: amf
# scp:
#     sbi:
#       - name: scp
nrf:
  sbi:
    - name: nrf

parameter:
max:
usrsctp:
time:
