### For reference, see `/opt/open5gs/etc/orig/open5gs/`
amf:
  sbi:
    - dev: eth0
      advertise: amf
  ngap:
  guami:
    - plmn_id:
        mcc: 901
        mnc: 70
      amf_id:
        region: 2
        set: 1
  tai:
    - plmn_id:
        mcc: 901
        mnc: 70
      tac: 1
  plmn_support:
    - plmn_id:
        mcc: 901
        mnc: 70
      s_nssai:
        - sst: 1
          # sd: 1
  security:
    integrity_order : [ NIA2, NIA1, NIA0 ]
    ciphering_order : [ NEA0, NEA1, NEA2 ]
  network_name:
    full: Openverso
  amf_name: amf

nrf:
  sbi:
    - name: nrf

parameter:
max:
pool:
time:
