---
name: Push Images

on:
  push:
    branches:
      - main
    paths:
      - 'images/**'
    paths-ignore:
      - '**/update_current_tag.sh'

env:
  images_dir: images

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: config git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - id: files
        uses: jitterbit/get-changed-files@v1

      - name: Get changed images
        id: list-changed
        run: |
          changed=`echo "${{ steps.files.outputs.all }}" | sed 's/ /\n/g' | grep $images_dir | cut -f1-2 -d'/' | uniq`
          echo "Changed files are:"
          echo "$changed"
          echo "::set-output name=list_changed::$changed"
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        if: steps.list-changed.outputs.changed == 'true'

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        if: steps.list-changed.outputs.changed == 'true'

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}      

      - name: push changed images
        id: push
        run: |
            for image in $list_changed; do
              pushd $image
              source image_info.sh
              IMAGE_NAME=${image#"images/"}
              if [ -z "$PLATFORMS" ]; then
                docker build -t $IMAGE_NAME:$IMAGE_TAG --build-arg version=$IMAGE_TAG .
                docker push $IMAGE_NAME:$IMAGET_TAG
              else
                docker buildx build -t $IMAGE_NAME:$IMAGE_TAG --build-arg version=$IMAGE_TAG --platform ${PLATFORMS} . --push
              fi
              git tag -a "v${IMAGE_TAG}" -m "Automated push of v${IMAGE_TAG}"
              git push origin "v${IMAGE_TAG}"
              popd
            done
        env:
          list_changed: ${{steps.list-changed.outputs.list_changed}}
        if: steps.list-changed.outputs.changed == 'true'

